/** FONTS**/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Raleway:wght@100;400&family=Rubik:wght@400;600;700&display=swap");
/**
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
**/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #100e1d;
}

.container {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 1rem 0 1rem;
  overflow: hidden;
}

.slide {
  grid-column: 1/2;
  grid-row: 1/3;

  background-color: #1e213a;
  text-align: center;
  color: #b3b3b3;

  animation-name: entri-up;
  animation-duration: 1000ms;
}

.logo {
  overflow: hidden;
}

.logo-svg {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.logo-svg img {
  transition: 300ms ease-in-out;
  height: 9rem;
  width: 100%;
  object-fit: contain;
}

.logo-svg img:hover,
.logo-svg img:active {
  transform: scale(1.05);
}

.temp-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.day-status {
  margin: 1.6rem 0;
}
.day-status::first-letter {
  text-transform: uppercase;
}

.day-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

/** TOOLS */

.tools-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.4rem;
}
.tools-items {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem 2.4rem;
}

.tools-items button {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.1rem;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #3b3b3b;

  background-color: #b8b6b6;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);

  transition: 500ms ease;
}

.tools-items button:hover {
  transform: scale(1.05);
  background-color: #555555;
  color: #fff;
}

.tools-items i {
  cursor: pointer;

  background-color: #b3b3b3;
  border-radius: 100%;
  padding: 0.25rem;

  -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.28);

  font-size: 1.4rem;
  color: #1e1e20;
  transition: 200ms ease;
}

.tools-items i:hover {
  transform: scale(1.1);
  background-color: #555555;
  color: #fff;
}

/** MAIN CONTENT **/

.main-content {
  grid-column: 2/-1;
  grid-row: 1/3;

  background-color: #100e1d;

  padding: 0 1.5rem;
}
.tools-temp {
  margin-bottom: 1rem;
}

.tools-temp i {
  color: #fff;
  font-size: 1.6rem;
}

.weather-list {
  animation-name: entri-up;
  animation-duration: 1000ms;
}

.temp-max {
  color: #fff;
}

.temp-min {
  color: #afafaf;
}

.temp-options {
  display: flex;
  color: #000000;
  gap: 1rem;
}

.celcius-btn,
.farinheight-btn {
  padding: 0.7rem;
  background-color: #565657;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.celcius-btn:hover,
.farinheight-btn:hover {
  transform: scale(1.05);
}

/** LIST*/
.days-list {
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 2rem;
}

.days-list li {
  list-style: none;
  background-color: #1e213a;
  padding: 0 1rem;
  text-align: center;
  margin: 0.4rem;
  width: 7.7rem;
  transition: 400ms ease;
}
.days-list li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.days-list li:hover img {
  transform: scale(1.4);
}

.days-list li img {
  height: 3.5rem;
  object-fit: cover;
  padding: 0.5rem;
  transition: 400ms ease;
}
.days-list li p {
  padding: 0.4rem 0;
}

/** HIGHTLIGHTS **/
.hightlights {
  color: #979797;
  animation-name: entri-down;
  animation-duration: 1000ms;
}
.today-hightlights-h3 {
  color: #fff;
  margin-bottom: 1rem;
}

.hightlights-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem 5rem;
  margin-bottom: 3rem;
}
.hightlights-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.wind-status,
.humidity,
.visibility,
.air-pressure {
  background-color: #1e213a;
  border-radius: 0.2rem;
  padding: 1rem;
  text-align: center;
  color: #e7e7eb;
}

.wind-status p,
.humidity p,
.visibility p,
.air-pressure p {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: Raleway;
}

.footer {
  background-color: #1e213ac7;
  color: #000000;
  display: block;
  text-align: center;
}
/* RESOLUTION MOBILE */
/* --------------------------------------- */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .slide {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-bottom: 3rem;
  }

  .main-content {
    grid-column: 1/3;
    grid-row: 2/2;
  }
  .days-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .days-list li {
    width: 90%;
    font-size: 1.8rem;
  }
  .days-list li img {
    height: auto;
  }
}

/* RESOLUTION BIG SCREEN */
/* ------------------------------------- */
@media (min-width: 1620px) {
  .days-list {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
  }
  .days-list li {
    background-color: #1e213a;
    padding: 0 1rem;
    height: 15rem;
    width: 12rem;
  }
  .days-list li img {
    height: 7rem;
  }
  .days-list li p {
    padding: 0.4rem 0;
    font-size: 1.4rem;
  }
  .hightlights-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

/** MORE DESINGS **/

.temp-option {
  display: inline-block;
}

.isActive {
  background-color: #fcfcfc;
  color: #000000;
  border: 2px solid #b3b3b3;
}

@keyframes entri-up {
  0% {
    z-index: 100;
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes entri-down {
  0% {
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* 
#cloud:after {
  width: 80px;
  height: 80px;
  top: -50px;
  left: 20px;
  border-radius: 100px;
}

#cloud:before {
  width: 100px;
  height: 100px;
  top: -64px;
  right:20px;
  border-radius: 200px;
}

#cloud:after,
#cloud:before {
  content: "";
  position: absolute;
  background: #fff;
  z-index: 11;
}

#cloud {
  width: 180px;
  height: 50px;
  background: #bff;
  background: linear-gradient(top, #bff 5%, #dff 100%);
  background: -webkit-linear-gradient(top, #fff 1%, #bff 100%);
  background: -moz-linear-gradient(top, #bff 5%, #dff 100%);
  background: -ms-linear-gradient(top, #bff 5%, #dff 100%);
  background: -o-linear-gradient(top, #bff 5%, #dff 100%);
  top: 60px;
  left: 350px;
  border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: 1;
}

.shadow {
  width: 150px;
  position: absolute;
  bottom: -10px;
  background: #000;
  z-index: -1;
  box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
} */
